@model IEnumerable<SongLibrary.API.Models.ArtistDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Artists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Artist" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Artist" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a href="/song/list/@item.Id/">Songs</a>
            </td>
        </tr>
        }
    </tbody>
</table>
