@model IEnumerable<SongLibrary.API.Models.ArtistDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Artists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id}, new { onclick = "return confirm('Are you sure you wish to delete this artist?');" }) |
                <a href="/song/list/@item.Id/">Songs</a>
            </td>
        </tr>
        }
    </tbody>
</table>
